<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/show.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ./partials/head.ejs %>
    <br>
    <h1><%=lures.name%></h1>
    <div class="container">

        <form class="addform" action="index.html" method="post">
          <button class="big-btn" type="submit" name="add">Add to box</button>
        </form>

        <div class="editbtn">
          <a href="/lures/<%=lures.id%>/edit"><button class="big-btn" type="submit" name="edit">Edit</button></a>
        </div>


      <div class="lureimage">
        <img src="<%=lures.img%>" alt="<%=lures.name%>">
      </div>
      <div class="lureinfo">
        <label for="conditions">Conditions:</label>
        <p id="conditions"><%=lures.conditions%></p>
        <label for="qty">Qty:</label>
        <p id="qty"> <%=lures.qty%></p>
        <label for="color">Color:</label>
        <p id="color"><%=lures.color%></p>
      </div>
      <div class="comments">
        <form class="" action="index.html" method="post">
          <textarea name="comments" rows="4" cols="60" placeholder="Comments"></textarea>
          <button class="med-btn" type="submit" name="submit">Submit</button>
        </form>

      </div>

    </div>
  </body>
</html>
